body {
    margin: 0;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    min-width: 400px;
}

/*

Style our app according to the provided design!

green color -> #5f9341

*/


input { 
    width: 100%;
    border: 1px solid #5f9341; 
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 4px; 
}

button {
    background-color: #5f9341;
    color: white;
    font-weight: bold;
    width: 30%;
    height: 40px;
    border: 1px solid #5f9341;
    border-radius: 1px;
}

#delete-btn {
    background: #fff;
    color: #5f9341;
}


/* STYLE THE LIST ACCORDING TO THE DESIGN */
ul {
    margin-top: 20px;
    list-style: none;
    padding-left: 0;
}

li {
    margin-top: 5px;
    
}

a {
    color: #5f9341;
}

